.preview {
  width: 256px;
  height: 256px;
  display: inline-block;
  border: 1px solid #333;
}

.actions {
  display: block;
}

.speed {
  width: 256px;
}

.settings mat-slider {
  display: block;
}
